Config.plist
BasedChat/View/StickerViews/.DS_Store
BasedChat/View/.DS_Store
BasedChat/.DS_Store
BasedChat.xcodeproj/project.xcworkspace/xcuserdata/miakoring.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
